<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <form>
            <input type="text" v-model="searchTerm" placeholder="ketikkan kata kunci" />
        </form>
        <ul>
            <li v-for="book in filteredBooks">
                {{ book }}
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue ({
            el: '#app',
            data: {
                searchTerm : '',
                books : [
                    "Kalkulus Dasar",
                    "Fisika Dasar",
                    "Aljabar Linier Elementer",
                    "Aljabar Abstrak",
                    "Algoritma Pemrograman"
                ],
            },
            computed: {
                filteredBooks: function() {
                    return this.books.filter((book)=>{
                        return book.toLowerCase().match(this.searchTerm.toLowerCase());
                    });
                }
            }
        })
    </script>

</body>
</html>